/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nuclear Shotgun pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name            = 'Nuclear Shotgun pipeline'
    author          = 'Kevin Nota and Benjamin Vernot'
    homePage        = ''
    description     = 'preprocessing and mapping reads to genomes'
    nextflowVersion = '>=22.10'
    version         = 'v1.0'
    mainScript      = 'ned.nf'
}

cleanup = true
nextflow.enable.moduleBinaries = true

containerEngine = 'singularity'
singularity.enabled = true
process.executor = 'local'

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
}

params {

    //main programs
    build                     = false   // building database
    preprocessing             = false   // filter raw bam or fastq files
    mapping                   = false   // mappes the fastq files from the preproccing

    //user flags
    bams                      = ""   // path to input bams
    bams_tsv                  = ""   // bam tsv
    input_fastq               = ""   // path the the fastq file
    input_fastq_tsv           = ""   // path to tsv with input fastqs
    fastq_files               = "filterd_fastq"   // path the the fastq file //filtered for mapping

    // output dir for all processes. 
    out_dir                   = "."  // out_dir_path

    // cluster_options
    executor                  = 'sge' // sge/slurm/local 
    memory                    = '8'
    memory_max                = '128 GB'
    time                      = ''
    time_max                  = '24h'

    // hard coded, should be changed for external
    path_reference_dbs        = "/mnt/sequencedb/bowtie2_RefSeq/800_ncbi_genomes/"  // path to bowtie2 indexes
    
    //preprocessing flags
    min_read_length           = 35   // minimal read length
    max_low_complexity_bases  = 10   // max number of low complexity bases 
    
    //build flags
    refgenomes                = false
    sink                      = false 

    // databases 
    all                       = false
    vertebrate                = false
    plant                     = false
    invertebrate              = false
    vertebrate_mammalian      = false
    vertebrate_other          = false
    bacteria		          =	false

    sinks                     = false
    bact_sink                 = false
    fungi_sink                = false
    archaea_sink              = false

    //process settings
    threads                   = 8          // 8 cores default
    maxForks                  = 5          // number of parallel local jobs
    maxForks_cluster          = 10         // number of parallel cluster jobs (suggesting to run 100 for increased speed)
    
}
